/*
  Assignments.css
  Capstone Project
  Array Bootcamp Fall 2021 -Spring 2022
  Katie Greenwald
*/

.calendar-app{
    color: black; 
    text-align: center;
    align-items: center;
    margin: auto; 
    /* padding: 2 rem;  
    width: 20rem; 
    height: 15rem;*/
}
