.lessonText{
    color: black; 
    height: calc(100vh - 430px);
    width: 36rem; 
    overflow-y: scroll;
 /* overflow-y: hidden; */
    overflow-x: hidden;

    word-wrap: break-word;
    padding-left: 5rem;
    text-align: left;
    /*  */
}
.lessonTitle{
    font-weight: bold;
    color: red; 
}
.lesson-list{
  
    margin: auto; 
    height: calc(100vh - 530px);
    width: 25rem; 
    overflow-y: scroll;
    padding: 10px;
    
}

.lesson-sign-up{
    /* top:1rem; 
     padding: 2px; */
    text-align: center;
   
}


.title-input{}
.id-input{}
.author-input{}
.text-input{
    text-align: left;
    height: 10rem; 
}