.groupMember-list{
    display: flex;
    border: 6px solid blue ;
    text-align: center;
    width: 35rem;
    padding-left: 2rem;
    /* overflow-x: scroll; */
}
.task-name{
    display: flex;
}
.aBox{

    /* height: 10rem;
    width: 10rem; */
    border: 6px solid blue ;
   
}

.pill{

}