.card{
    height: 5rem;
    width: 50rem;
    background-color: wheat;
    text-align: center;
    padding-top: 1rem;
    border: 6px solid ; 
   
}

.arrayPic{
    height: 20rem;
    width:  17rem ;

}

.lessons{ border-color: red ;}
.resources{border-color: yellow ;}
.assignments{border-color: green ;}
.Groupwork{border-color: blue ;}