/*
  Components.css
  Capstone Project
  Array Bootcamp Fall 2021 -Spring 2022
  Katie Greenwald
*/


.scheduleBox{
    margin: auto; 
    height: calc(100vh - 330px);
    width: 35rem; 
    overflow-y: scroll;
    padding: 10px;

}



.submitButon{
    background-color: white;
    box-shadow: 0px 0px 8px white, 0px 10px 30px #c52d2d;
}

.login{
    padding-top: 7rem;
    
}
.navigation {
    position: relative;
    z-index: 1000;
    border-bottom: 2px solid #c52d2d;
    box-shadow: 0px 0px 8px white, 0px 10px 30px #c52d2d;
    width: 100%; 
    height: 12rem;
    top: 0; 
    
  }
.navText{
    font-size: calc(10px + 2vmin);
    color: white;
}
.sign-up-link{
    font-size: 10px;
}
.Options{
    display: flex;
    justify-content:space-evenly;
}

.card{
    height: 10rem;
    width: 15rem;
    background-color: wheat;
    text-align: center;
    padding-top:4rem;
    border: 6px solid ; 
   
}


.cardText, a:link{
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.arrayPic{
    height: 20rem;
    width:  17rem ;

}

.array-home{
    height: 10rem;
}
/* 
 .lessons{ 
    border-color: red ;
    height:calc(100vh - 330px);
    width: 40rem;
    padding-top: 10rem;
    background-color: wheat;

}
.resources{
    border-color: green ;
    height: 30rem; 
    width: 40rem;
    padding-top: 10rem;
    background-color: wheat;
}
.assignments{
    border-color: yellow ;
    height: 30rem; 
    width: 40rem;
    padding-top: 10rem;
    background-color: wheat;
}
.groupwork{
    border-color: blue ;
    height: 30rem; 
    width: 40rem;
    padding-top: 10rem;
    background-color: wheat;
} 

.Lessons{ 
    border-color: red ;
    background-color: 'wheat';
    border: 6px solid; 
}
.Resources{
    border-color: yellow ;
    background-color: 'wheat';
    border: 6px solid; 
}
.Assignments{
    border-color: green ;
    background-color: 'wheat';
    border: 6px solid; 
}
.Groupwork{
    border-color: blue ;
    background-color: 'wheat';
    border: 6px solid; 
} */